@model Models.Weapon
@{
    ViewBag.Title = "WeaponPage";
}

<div align="center">
    <h2 class="BlogHeader">@Html.Raw(Model.Title)</h2>
</div>
@if (Model == null)
{
    <h1>Visit again soon, updates are on the way!</h1>
}
else
{
    <div align="center">
        <font size="3">@Html.Raw(Model.Content) </font>
    </div>
}
<div align="center">
    <img class="blogImage" src=@Model.ImagePath alt="image" style="height: 400px; width: auto" />
    <h2>@Html.ActionLink("Return to Exhibit Home Page", "ExhibitHome", "Exhibit")</h2>
</div>



