@model List<TaskListADO.Models.Task>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-lg-6">
        <ul>
            @foreach (var t in Model)
            {
                <li>@t.Discription</li>

            }
        </ul>
    </div>
    <div class="col-lg-6">
        <table id="employees" class="table table-striped">
            <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/scripts/app/webapi.js"></script>
}