USE [master]
GO
/****** Object:  Database [Blog]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE DATABASE [Blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Blog.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Blog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blog]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog_Categories]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Categories](
	[BlogId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Blog_Categories] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[DatePosted] [date] NULL,
	[DateLastModified] [date] NULL,
	[Content] [text] NOT NULL,
	[PostStatus] [bit] NOT NULL,
	[ImagePath] [text] NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Blogs_Tags]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs_Tags](
	[TagId] [int] NOT NULL,
	[BlogId] [int] NOT NULL,
 CONSTRAINT [PK_Blogs_Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC,
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exhibits]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibits](
	[ExhibitId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [text] NOT NULL,
	[Title] [nvarchar](128) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[PostStatus] [bit] NOT NULL,
	[DatePosted] [date] NULL,
	[DateLastModified] [date] NULL,
	[ImagePath] [text] NULL,
 CONSTRAINT [PK_StaticPages] PRIMARY KEY CLUSTERED 
(
	[ExhibitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagTitle] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Weapons]    Script Date: 8/17/2016 4:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Weapons](
	[WeaponId] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitId] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[DateCreated] [date] NOT NULL,
	[DatePosted] [date] NULL,
	[DateLastModified] [date] NULL,
	[PostStatus] [bit] NOT NULL,
	[ComingSoon] [bit] NOT NULL,
	[ImagePath] [text] NULL,
 CONSTRAINT [PK_Weapons] PRIMARY KEY CLUSTERED 
(
	[WeaponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Contributor')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Owner')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6f6abc03-b9a5-496d-8fad-321c14925770', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b4392d91-8f17-4f7d-be6a-b9e39cac023c', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'6f6abc03-b9a5-496d-8fad-321c14925770', N'richard@yahoo.com', 0, N'ALPjXY2huXvT6Tts3UqUBbMcUd8Q9dj2ZFD6mwWp0/Pnsgh87ayc7Gars80LoLMW2Q==', N'6d43ade9-a6ff-44ee-b188-89c2bfebd425', NULL, 0, 0, NULL, 1, 0, N'richard@yahoo.com', N'Richard', N'Head')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'b4392d91-8f17-4f7d-be6a-b9e39cac023c', N'ben@yahoo.com', 0, N'AMxJPjqEvVqj4YQDxRICXRUr3bJMy2J3/YRLlc+arM+qKQOuBXEpovsZkbiy9do2zg==', N'c1236e99-43a0-469e-b89a-a54ba95c2382', NULL, 0, 0, NULL, 1, 0, N'ben@yahoo.com', N'Ben', N'Dover')
INSERT [dbo].[Blog_Categories] ([BlogId], [CategoryId]) VALUES (1, 5)
INSERT [dbo].[Blog_Categories] ([BlogId], [CategoryId]) VALUES (1, 7)
INSERT [dbo].[Blog_Categories] ([BlogId], [CategoryId]) VALUES (1, 8)
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([BlogId], [Title], [UserId], [DateCreated], [DatePosted], [DateLastModified], [Content], [PostStatus], [ImagePath]) VALUES (1, N'My Favorite Sword', N'b4392d91-8f17-4f7d-be6a-b9e39cac023c', CAST(N'2016-08-03' AS Date), CAST(N'2016-08-05' AS Date), CAST(N'2016-08-04' AS Date), N'This is the content for "My favorite sword', 1, N'http://pre04.deviantart.net/ecc2/th/pre/i/2012/344/4/d/more_swords_by_thedarkestseason-d5noc1a.jpg')
INSERT [dbo].[Blogs] ([BlogId], [Title], [UserId], [DateCreated], [DatePosted], [DateLastModified], [Content], [PostStatus], [ImagePath]) VALUES (2, N'Game of Thrones Weapons', N'b4392d91-8f17-4f7d-be6a-b9e39cac023c', CAST(N'2016-08-05' AS Date), NULL, CAST(N'2016-08-05' AS Date), N'This is the content for "Game of Thrones Weapons"', 0, N'http://www.barringtons-swords.com/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/g/a/games_of_thrones_swords_longclaw_sword_of_jon_snow_image_4.jpg')
INSERT [dbo].[Blogs] ([BlogId], [Title], [UserId], [DateCreated], [DatePosted], [DateLastModified], [Content], [PostStatus], [ImagePath]) VALUES (6, N'Weights of Swords', N'6f6abc03-b9a5-496d-8fad-321c14925770', CAST(N'2016-08-10' AS Date), CAST(N'2016-08-11' AS Date), CAST(N'2016-08-11' AS Date), N'This is the content for "Weights of swords"', 1, N'http://www.thearma.org/essays/weights/swords1.JPG')
SET IDENTITY_INSERT [dbo].[Blogs] OFF
INSERT [dbo].[Blogs_Tags] ([TagId], [BlogId]) VALUES (1, 1)
INSERT [dbo].[Blogs_Tags] ([TagId], [BlogId]) VALUES (1, 2)
INSERT [dbo].[Blogs_Tags] ([TagId], [BlogId]) VALUES (1, 6)
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Ancient Weapons')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Medieval Weapons')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Early Modern Weapons')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Exhibits] ON 

INSERT [dbo].[Exhibits] ([ExhibitId], [Content], [Title], [DateCreated], [UserId], [PostStatus], [DatePosted], [DateLastModified], [ImagePath]) VALUES (2, N'<p>asdfsdf</p>', N'Wsdffgsdfgf', CAST(N'2016-08-02' AS Date), N'6f6abc03-b9a5-496d-8fad-321c14925770', 1, CAST(N'2016-08-17' AS Date), CAST(N'2016-08-17' AS Date), NULL)
INSERT [dbo].[Exhibits] ([ExhibitId], [Content], [Title], [DateCreated], [UserId], [PostStatus], [DatePosted], [DateLastModified], [ImagePath]) VALUES (3, N'<p>asdfsdf</p>', N'asdfsadfasdfasdf', CAST(N'2016-08-07' AS Date), N'b4392d91-8f17-4f7d-be6a-b9e39cac023c', 1, CAST(N'2016-08-08' AS Date), CAST(N'2016-08-17' AS Date), NULL)
INSERT [dbo].[Exhibits] ([ExhibitId], [Content], [Title], [DateCreated], [UserId], [PostStatus], [DatePosted], [DateLastModified], [ImagePath]) VALUES (5, N'<p>This is the content for the exhibit "The Evolution of Armor"qwetqwetasdfsadfsd</p>', N'The Evolution of Armorswretwetsadfasdfsdf', CAST(N'2016-08-10' AS Date), N'6f6abc03-b9a5-496d-8fad-321c14925770', 1, CAST(N'2016-08-17' AS Date), CAST(N'2016-08-17' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Exhibits] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagId], [TagTitle]) VALUES (1, N'Sword')
INSERT [dbo].[Tags] ([TagId], [TagTitle]) VALUES (2, N'Shield')
INSERT [dbo].[Tags] ([TagId], [TagTitle]) VALUES (3, N'Axe')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Weapons] ON 

INSERT [dbo].[Weapons] ([WeaponId], [ExhibitId], [UserId], [Title], [Content], [DateCreated], [DatePosted], [DateLastModified], [PostStatus], [ComingSoon], [ImagePath]) VALUES (8, 2, N'6f6abc03-b9a5-496d-8fad-321c14925770', N'Sarrisae', N'Long spear, up to 21 feet, Used in conjunction with the phalanx formation, this made an impregnable wall of spears', CAST(N'2016-08-01' AS Date), CAST(N'2016-08-01' AS Date), CAST(N'2016-08-01' AS Date), 1, 0, NULL)
INSERT [dbo].[Weapons] ([WeaponId], [ExhibitId], [UserId], [Title], [Content], [DateCreated], [DatePosted], [DateLastModified], [PostStatus], [ComingSoon], [ImagePath]) VALUES (9, 2, N'6f6abc03-b9a5-496d-8fad-321c14925770', N'Kopis', N'Curved sword used by Hoplites mounted on horseback  ', CAST(N'2016-08-01' AS Date), CAST(N'2016-08-02' AS Date), CAST(N'2016-08-02' AS Date), 1, 0, NULL)
INSERT [dbo].[Weapons] ([WeaponId], [ExhibitId], [UserId], [Title], [Content], [DateCreated], [DatePosted], [DateLastModified], [PostStatus], [ComingSoon], [ImagePath]) VALUES (11, 2, N'6f6abc03-b9a5-496d-8fad-321c14925770', N'Akontia ', N'Javelin, used by light infantry', CAST(N'2016-08-01' AS Date), CAST(N'2016-08-01' AS Date), CAST(N'2016-08-01' AS Date), 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Weapons] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/17/2016 4:41:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Blog_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Categories_Blogs] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
GO
ALTER TABLE [dbo].[Blog_Categories] CHECK CONSTRAINT [FK_Blog_Categories_Blogs]
GO
ALTER TABLE [dbo].[Blog_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Categories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Blog_Categories] CHECK CONSTRAINT [FK_Blog_Categories_Categories]
GO
ALTER TABLE [dbo].[Blogs_Tags]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Tags_Blogs] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
GO
ALTER TABLE [dbo].[Blogs_Tags] CHECK CONSTRAINT [FK_Blogs_Tags_Blogs]
GO
ALTER TABLE [dbo].[Blogs_Tags]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Tags_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[Blogs_Tags] CHECK CONSTRAINT [FK_Blogs_Tags_Tags]
GO
ALTER TABLE [dbo].[Weapons]  WITH CHECK ADD  CONSTRAINT [FK_Weapons_Exhibits] FOREIGN KEY([ExhibitId])
REFERENCES [dbo].[Exhibits] ([ExhibitId])
GO
ALTER TABLE [dbo].[Weapons] CHECK CONSTRAINT [FK_Weapons_Exhibits]
GO
USE [master]
GO
