@model JQueryValidation.Models.RSVPResponse
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div class="row">
    <div class="col-sm-12">
        <h1>Thank You @Model.Name</h1>
        @if (Model.WillAttend.Value)
        {
            <p>
                Its great you're coming, we will see if 
                other like @Model.FavoriteGame and play it if so!
            </p>
        }
        else
        {
            <p>Sorry you couldn't make it this time</p>
        }
    </div>
</div>