@using HRPortal.Models.Data
@model HRPortal.Models.Data.Job
@{
    ViewBag.Title = "EditJob";
}

<h2>EditJob</h2>

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Return to Jobs","Jobs","Job")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m=>m.JobId)
            <div class="form-group">
                <label>Job Title</label>
                @Html.TextBoxFor(m => m.Position, new {@class = "form-control", placeholder = Model.Position})
                <label>Job Discription</label>
                @Html.TextAreaFor(m=>m.Discription, new {@class = "form-control", placeholder = Model.Discription})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>