@model StabBlog.Models.AppModels.ExhibitPage
@{
    ViewBag.Title = "CreateExhibitPost";
}

<h2>CreateExhibitPost</h2>

<div class="row">
    @using (Html.BeginForm("CreateExhibitPost", "Post", FormMethod.Post, new {@id="postForm"}))
    {
        <div class="form-group">
            <label>Enter the Exhibits Title</label>
            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Enter your Exhibit Page Image Path:</label>
            @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Enter your content below</label>
            <div class="row">
                @Html.TextAreaFor(m => m.Content)
            </div>
        </div>
        <span>
            <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel", "AdminHome", "Admin", null, new { @class = "btn btn-sm btn-danger" })
    </span>
    }
</div>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/CustomExhibitTinyMce.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/Validation-Default.js"></script>
    <script src="~/Scripts/app/ExhibitPostValidation.js"></script>
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/LoginStyleSheet.css">
}
