@model Models.Category
@{
    ViewBag.Title = "CreateNewCategory";
}

<h2>Create New Category</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Enter your new category</label>
        @Html.TextBoxFor(m => m.CategoryName, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger">@Html.ActionLink("Cancel", "AdminHome", "Admin")</button>
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/LoginStyleSheet.css">
}
