
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Westeros Employment</h2>
        <p>Looking for a job in Westeros? Look no further</p>
    </div>
</div>

