body {
    background: none;
    background-color: #d3d3d3;
}

th {
    color: white;
    background-color: #2f4f4f;
}

table {
    background-color: #DFF;
}

label {
    color: black;
    font-size: 15px;
}

.form-group {
    margin: 10px;
}