@font-face {
    font-family: cooltitle;
    src: url(/fonts/Kingthings_Foundation.ttf);
    font-weight: 400;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@import 'https://fonts.googleapis.com/css?family=Ewert';


.carousel-inner > .item > img {
    margin: 0 auto;
}

a.right.carousel-control, a.left.carousel-control {
    background-image: none;
}

.carousel-caption {
    font-size: xx-large;
    color: #428bca;
    text-shadow: 2px 2px black;
}
ol.carousel-indicators li {
    color: #428bca;

}

body {
    background: url(app/Background/paper.jpg) no-repeat;
    background-size: 100% 100%;
}

.main {
    text-align: center;
    height: 450px;
    background-color: #F8ECC2;
    border: 5px solid #654321 ;
    border-radius: 10px;
    margin-top: 20px;
}

.topThree {
    border: 5px solid #654321;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px;
}

.footer, .singleBlogPost {
    border-radius: 10px;
    background-color: #d9c28e;
    border: 5px solid #654321;
    box-shadow: 10px 10px 10px;
}

.singleBlogPost {
    margin: 10px;
}

.footerCol {
    text-align: center;
    padding: 10px;
}

.blogMain {
    background: url("app/Background/divBackground.jpg") no-repeat;
    background-size: 100% 100%;
    height: initial;
    box-shadow: -10px 10px 10px;
}

.exhibitMain {
    background: url("app/Background/divBackground-1.jpg") no-repeat;
    background-size: 100% 100%;
    height: initial;
    box-shadow: 10px 10px 10px;
}

.latestBlog {
    background: url("app/Background/divBackground-4.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: -10px 10px 10px;
}

.latestExhibit {
    background: url("app/Background/divBackground-3.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px;
}

.comingSoon {
    background: url("app/Background/divBackground-5.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 10px 10px;
}

.rowOfThree {
    align-content: center;
    /*height: 100%;*/
}

/*.row-centered {
    text-align:center;
    height: 375px;
}*/
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
    margin: 8px;
    height: inherit;
}
hr {
  border-color: black;
  border-style: solid ;
  border-width: 1px 0;
  margin: 18px 0;
}

.category {
    display: inline;
    padding: 10px;
}

.tag {
    clear: left;
    display: inline-flex;
    padding: 10px;
    padding-top: 0px;
}

.blogTitle {
    text-align: center;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.tagContent {
    padding: 3px;
}

.Header {
    font-family: 'cooltitle';
    margin: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.BlogHeader {
    font-family: 'cooltitle';
    margin: 40px;
    font-weight: bold;
    font-size: 60px;
}



.exhibitTitle, .exhibitContent {
    display: inline;
    vertical-align: middle;
}

.exhibitTags {
    display: inline-block;
    vertical-align: middle;
}

.mainBlogExhibitLinks {
    vertical-align: bottom;
}

/*Tag cloud stuff*/


.tag-cloud
{
    padding: 50px;
    text-align: center;
    opacity: 1;
}

.tag
{
    display: inline-block;
    vertical-align: middle;
    line-height: .75em;
    margin: 0 .2em;
}

.tag.kind-0
{
    color: #000000;
    text-transform: lowercase;
    font-size: 5em;
}

.tag.kind-1
{
    color: #000000;
    font-size: 3em;
}

.tag.kind-2
{
    color: #000000;
    font-size: 2.5em;
}

.tag.kind-3
{
    color: #000000;
    font-size: 2.25em;
}

.tag.kind-4
{
    color: #000000;
    font-size: 2em;
}

.tag.kind-5
{
    color: #000000;
    font-size: 1.75em;
}

.tag.kind-6
{
    color: #000000;
    font-size: 1.5em;
}

.tag.kind-7
{
    color: #000000;
    font-size: 1.25em;
}

.tag.kind-8
{
    color: #000000;
    font-size: 1em;
}

.tag.kind-9
{
    color: #000000;
    font-size: .8em;
}

.footer {
    clear: both;
  left: 0;
  bottom: 0;

  height: 100%;
}

.sidebar-box {
  max-height: 200px;
  position: relative;
  overflow: hidden;
    text-align: center;
}
.sidebar-box .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, black);
}

.exhibitHomeContent {
    height: 211px;
}

.singleExhibitPost {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
}

.blogHomeContent {
    height: 23px;
}

p {

    color: #191919;
}

.spacingdiv {
    margin-bottom: 10px;
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
    color: red;

}

a {
    text-shadow: 1px 1px black
}

.topHead {
    text-align: center;
    font-family: 'Ewert';
    font-size: 50px
}

footer p {
    font-size: smaller;
}

footer {
     background: url("app/Background/divBackground-1.jpg") no-repeat;
}

.blogRow {
    text-align: center;
}

.blogImage {
    margin: 10px;
    box-shadow: 5px 5px 5px;
    border-radius: 8px;
}

.catBlogHome {
    text-align: center;
}

.catLink {
    color: black;
    padding: 10px;
    font-size: x-large;
}

.blogHead {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.catLinkTags {
    color: black;
}

.blogTop, .blogCenter{
    padding: 15px;
}

.blogCenter {
    font-size: large;
    margin: 10px;
}

.autorStyle {
    color: blue;
}

.BlogLinks {
    text-align: center;
    height: 150px;

}

.BlogLinks h4 {
    font-size: 30px;
}

.blogcatLinkTags {
    font-size: 20px;
}

.ExhibitHeader {
    text-align: center;
    font-family: 'Ewert';
    margin: 40px;
    font-weight: bold;
    font-size: 60px;
}


.ExhibitInImage {
    margin: 10px;
    box-shadow: 15px 15px 15px;
    border-radius: 8px;
}

.exhibitPhoto {
    margin: 10px;
    box-shadow: 10px 10px 10px;
    border-radius: 8px;
}

h4 {
    line-height: 1.4;
}

#tag-text {
    margin-bottom: 110px;
}

.posted {
    background: green;
    background: rgba(0,128,0,0.4);

}

.pending {
    background: rgb(255, 0, 0);
    background: rgba(255,0,0,0.4);
}
