<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="TaskList" connectionString="Server=.\SQL2014;Database=TaskList;User Id=sa;
Password=sqlserver;"/>
  <add name="SWCCorp" connectionString="Server=.\SQL2014;Database=SWCCorp;User Id=sa;
Password=sqlserver;"/>
</connectionStrings>
</configuration>