
@{
    ViewBag.Title = "CustomVariable";
}

<h2>CustomVariable</h2>


<p>The controller is: @ViewBag.Controller</p>
<p>The action is:@ViewBag.Action</p>
<p>The custom variable is @ViewBag.CustomVariable</p>