@model Models.Blog
@{
    ViewBag.Title = "DeleteBlog";
}

<h2>DeleteBlog</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.BlogId)
            <p>Are you sure that you wish to delete the blog @Html.DisplayFor(m => m.Title)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "AdminHome", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>  

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/LoginStyleSheet.css">
}
