@model Models.Weapon
@{
    ViewBag.Title = "PostWeapon";
}

<h2>PostWeapon</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.WeaponId)
            <p>Are you sure that you want to change the post status of the weapon @Html.DisplayFor(m => m.Title)?</p>
            <button type="submit" class="btn btn-sm">Post</button>
            @Html.ActionLink("Cancel", "AdminHome", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>   

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/app/LoginStyleSheet.css">
}
