@model HRPortal.Models.PersonVM
@{
    ViewBag.Title = "Index";
}

<h2>Applicant Info</h2>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("List All Applicants", "ListApplicantts", "Person")</li>
        </ul>
    </div>
</div>