
@{
    ViewBag.Title = "Directives";
}

<h2>Directives</h2>

<div class="row">
    <div class="col-sm-4">
        <p>
            Here we can see how a ng-app and ng model
            can be added to a page to set up two way binding
        </p>
    </div>
</div>
<div class="row" ng-app>
    <div class="col-sm-4">
        <label>Name:</label>
        <input type="text" ng-model="name"/>
        <p>Your name is: {{name}}</p>
    </div>
</div>