
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>I have an awesome shared layout</p>

@section scripts
{
    <script>
        alert('HELLO!');
    </script>
   <script src="~/scripts/App/alert.js"></script>
}
