@using ModelBinding101.Controllers

@{
    ViewBag.Title = "RequestForm";
}

<h2>Request Form</h2>

@using (Html.BeginForm("RequestFormPost", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        <input type="text" name="PersonId" class="form-control" />
    </div>
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>    
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="LastName" class="form-control" />
    </div>
    <button class="btn btn-primary">submit</button>
}