@model List<HRPortal.Models.Data.Policy>

@{
    ViewBag.Title = "Policies";
}


<div class="row">
    <div class="col-xs-12">
        <h2>Policies</h2>
        @Html.ActionLink("Add Policy","Add","Policy",null,new {@class="btn btn-primary"})
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <td>      </td>
                <th>Policy</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Title</td>
                    <td>      </td>
                    <td>@p.Content</td>
                    <td>@Html.ActionLink("Delete","Delete","Policy", new {id = p.PolicyId},null)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>