<div class="modal fade" id="displayEmployeeModal" tabindex="-1" role="dialog"
     aria-labeledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label id="employeeName"></label>
            </div>
            <div class="modal-body">
                <table id="grants" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Grant Name</th>
                        <th>Grant Amount</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
