@model HRPortal.Models.Data.Category
@{
    ViewBag.Title = "Add";
}


<div class="row">
    <div class="col-xs-12">
        <h2>Add a Category</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Name of category</label>
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add</button>
        }
    </div>
</div>