@model HRPortal.Models.Data.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete category</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            //todo What does this do
            @Html.HiddenFor(m=>m.CategoryId)
            <p>Are you sure you wish to delete the category @Html.DisplayFor(m => m.Name) and all the policies inside it?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel","","Categories",null, new {@class="form-control"})
        }
    </div>
</div>